<a href="https://colab.research.google.com/github/NajlaZuhir/CRM_Data/blob/main/synthetic_fake.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Generating Data USing Faker

In [ ]:
!pip install faker
# from transliterate import translit
# !pip install googletrans==4.0.0-rc1

Collecting faker
  Downloading Faker-22.5.1-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 9.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-22.5.1

In [ ]:
from faker import Faker
import pandas as pd
import random

In [ ]:
!git add.

git: 'add.' is not a git command. See 'git --help'.

The most similar command is
	add

In [ ]:
jobs = ['Engineer', 'Teacher', 'Doctor', 'Business Owner', 'Student', 'Nurse', "Other"]
cities_in_qatar = ["Doha","Al Wakrah","Al Khor","Umm Salal Mohammed","Al Rayyan","Al Daayen","Madinat ash Shamal"]
list_cuisines = ["Italian", "Japanese", "Mexican", "Indian", "French", "Chinese", "Thai", "Arabic", "Other"]

attractions_in_qatar = ["The Pearl-Qatar","Souq Waqif","Museum of Islamic Art","Katara Cultural Village","Aspire Park",
    "Al Zubarah Fort and Archaeological Site","Doha Corniche","Sheikh Faisal Bin Qassim Al Thani Museum",
    "Katara Beach","Qatar National Museum", "Other"]

event_types = ["Festival","Concert","Exhibition","Football event","Championship event","Doha Expo","Workshop",
    "Doha Tour","Marathon", "Other"]

fake_hobbies = ["Reading","Traveling","Photography","Painting","Cooking","Gardening","Playing musical instruments",
    "Hiking","Swimming","Cycling"]

### Dataframe

We have added some new columms

In [ ]:
fake = Faker()
start_id = 1001
reservation_id = 1

data = []

for i in range(5000):
    record = {
        # identification
        "Tourist_ID": start_id,
        "Reservation_ID": reservation_id,
        "passport_number" : fake.random_int(min=100000000, max=999999999),

        # personal info
        "Name": fake.name(),
        "Age": fake.random_int(18, 80),
        "Gender": fake.random_element(elements=('Male', 'Female')),
        "phone_number": fake.phone_number(),
        "Nationality": fake.country(),
        'Nationality_group': random.choice(['GCC', 'Other Arab', 'Other Africa', 'Other Asia inc. Oceania', 'Europe', 'Americans']),
        'family_size': fake.random_int(min=1, max=8),
        'health_insurance': random.choice(['Yes', 'No']),

        # Date
        'Date_Of_Reservation' : fake.date_between(start_date='today', end_date='-5y'),
        'Date_Of_arival' : fake.date_between(start_date='today', end_date='-5y'),
        'arrival_month': fake.month(),

        # Address info
        'country_address': fake.country(),
        'street_address': fake.street_address(),
        'zipcode': fake.zipcode(),
        'state': fake.state(),
        'city': fake.city(),

        # Occupation and financial info
        "Occupation": fake.random_element(elements=jobs),
        'annual_income': fake.random_int(min=20000, max=150000),

        # personal preferences
        "Hobby": fake.random_element(elements=fake_hobbies),
        'payment_preferences': random.choice(['Credit Card', 'PayPal', 'Bank Transfer']),
        'climate_preferences': random.choice(['Tropical', 'Temperate', 'Arctic']),
        "Best_Attraction": fake.random_element(elements=attractions_in_qatar),
        "Cuisine": fake.random_element(elements=list_cuisines),

        # Travel and Transportation info
        "Preferred_Travel_Seasons": fake.random_element(elements=('Spring', 'Summer', 'Autumn', 'Winter')),
        "Modes_of_Travel": fake.random_element(elements=('Sea', 'Land', 'Air')),
        "Frequency_of_Travel": fake.random_element(elements=('Frequent', 'Occasional', 'Rare')),
        "Transportation_Mode": fake.random_element(elements=('Car', 'Bus', 'Metro')),

        # Visit info
        "Num_of_Visits": fake.random_int(min=1, max=7),
        "Days_of_Stay": fake.random_int(5, 60),
        "Random_Event_Type": fake.random_element(elements=event_types),

        # Accommodation info
        "Room_Preferences": fake.random_element(elements=('Single', 'Double', 'Suite')),
        "Hotel_Type": fake.random_element(elements=('Luxury', 'Mid-Range', 'Budget')),
        "Location": fake.random_element(elements=cities_in_qatar),

        # Engagement and feedback
        "Subscribed_to_Loyalty_Program": fake.boolean(),
        "Rating_of_Services": fake.random_int(min=1, max=5),
        "Total_Spendings": fake.random_int(min=2000, max=30000),

        # Additional fields (agency concern related)
        "customer_tenure": (datetime.now() - pd.to_datetime(record['Date_Of_Reservation'])).days,
        "package_types": fake.random_element(elements=['Sightseeing Tours', 'Adventure Tours', 'Cultural Tours', 'Beach and Resort Tours', 'Luxury and VIP Tours']),
        "package_cost": None,  # Placeholder for now
        "package_price": None,  # Placeholder for now
        "profit": None,  # Placeholder for now
    }

    # Set package_cost and package_price based on the selected package_types
    if record["package_types"] == 'Sightseeing Tours':
        record["package_cost"] = 300
        record["package_price"] = 600
    elif record["package_types"] == 'Adventure Tours':
        record["package_cost"] = 500
        record["package_price"] = 1200
    elif record["package_types"] == 'Cultural Tours':
        record["package_cost"] = 400
        record["package_price"] = 800
    elif record["package_types"] == 'Beach and Resort Tours':
        record["package_cost"] = 800
        record["package_price"] = 1500
    elif record["package_types"] == 'Luxury and VIP Tours':
        record["package_cost"] = 1500
        record["package_price"] = 3000

    # Calculate profit (package_price - package_cost)
    record["profit"] = record["package_price"] - record["package_cost"]

    data.append(record)

    reservation_id += 1
    start_id +=

# Create DataFrame
df = pd.DataFrame(data)

# Save to CSV file
df.to_csv("generated_data.csv", index=False)

# Display DataFrame
print(df.head())

In [ ]:
df.head()

,Tourist_ID,Reservation_ID,passport_number,Name,Age,Gender,phone_number,Nationality,Nationality_group,family_size,...,Transportation_Mode,Num_of_Visits,Days_of_Stay,Random_Event_Type,Room_Preferences,Hotel_Type,Location,Subscribed_to_Loyalty_Program,Rating_of_Services,Total_Spendings
0,1001,1,838645375,Kathryn Parrish,46,Male,(758)325-6793x832,Korea,Other Asia inc. Oceania,4,...,Metro,6,32,Exhibition,Single,Luxury,Al Daayen,True,2,17223
1,1002,2,947779029,Thomas Diaz,54,Female,732-952-9947x1839,United Kingdom,Other Africa,3,...,Car,5,42,Festival,Single,Luxury,Umm Salal Mohammed,True,1,4638
2,1003,3,980225184,Reginald Moore,39,Female,392.382.1245,Costa Rica,Europe,2,...,Metro,7,44,Concert,Double,Budget,Al Rayyan,True,5,7250
3,1004,4,475187992,Christine Thomas,47,Female,+1-526-542-6010x397,United Arab Emirates,Other Arab,7,...,Bus,3,54,Festival,Double,Luxury,Madinat ash Shamal,False,1,3170
4,1005,5,276859775,Renee Camacho,21,Male,319.783.0409x27277,India,Europe,3,...,Car,7,58,Other,Single,Luxury,Doha,True,2,27868

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 39 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Tourist_ID                     5000 non-null   int64
 1   Reservation_ID                 5000 non-null   int64
 2   passport_number                5000 non-null   int64
 3   Name                           5000 non-null   object
 4   Age                            5000 non-null   int64
 5   Gender                         5000 non-null   object
 6   phone_number                   5000 non-null   object
 7   Nationality                    5000 non-null   object
 8   Nationality_group              5000 non-null   object
 9   family_size                    5000 non-null   int64
 10  health_insurance               5000 non-null   object
 11  Date_Of_Reservation            5000 non-null   object
 12  Date_Of_arival                 5000 non-null   object
 13  arrival_month                  5000 non-null   object
 14  country_address                5000 non-null   object
 15  street_address                 5000 non-null   object
 16  zipcode                        5000 non-null   object
 17  state                          5000 non-null   object
 18  city                           5000 non-null   object
 19  Occupation                     5000 non-null   object
 20  annual_income                  5000 non-null   int64
 21  Hobby                          5000 non-null   object
 22  payment_preferences            5000 non-null   object
 23  climate_preferences            5000 non-null   object
 24  Best_Attraction                5000 non-null   object
 25  Cuisine                        5000 non-null   object
 26  Preferred_Travel_Seasons       5000 non-null   object
 27  Modes_of_Travel                5000 non-null   object
 28  Frequency_of_Travel            5000 non-null   object
 29  Transportation_Mode            5000 non-null   object
 30  Num_of_Visits                  5000 non-null   int64
 31  Days_of_Stay                   5000 non-null   int64
 32  Random_Event_Type              5000 non-null   object
 33  Room_Preferences               5000 non-null   object
 34  Hotel_Type                     5000 non-null   object
 35  Location                       5000 non-null   object
 36  Subscribed_to_Loyalty_Program  5000 non-null   bool
 37  Rating_of_Services             5000 non-null   int64
 38  Total_Spendings                5000 non-null   int64
dtypes: bool(1), int64(10), object(28)
memory usage: 1.5+ MB

In [ ]:
!git status

fatal: not a git repository (or any of the parent directories): .git

In [ ]:
git --list

NameError: name 'git' is not defined